<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Your Basketball Team!</title>
 </head>
 <body>
        <h1><p> Team Name: <%= @team_name %> </p></h1>
    <h2>
        <p> Coach: <%= @coach %></p>
        <p> Point Guard: <%= @point %></p>
        <p> Shooting Guard: <%= @shoot %></p>
        <p> Power Forward: <%= @power %></p>
        <p> Small Forward: <%= @small %></p>
        <p> Center: <%= @cent %></p>

    </h2>
 </body>
</html>


